<div class="login-wrapper custom-bg">
    <form clrForm class="login register">
        <section class="title">
            <div class="logo">Change Password</div>
        </section>
        <clr-input-container>
          <label>Username</label>
          <input type="email" name="username" clrInput placeholder="Email" [(ngModel)]="username"/>
        </clr-input-container> 
        <clr-password-container>
            <label>Old Password</label>
            <input placeholder="Old or Default Password" clrPassword [(ngModel)]="passwordInfo.oldPassword" name="password" required/>
            <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!</clr-control-error>
          </clr-password-container>
          <clr-password-container>
            <label>New Password</label>
            <input placeholder="New Password" clrPassword [(ngModel)]="passwordInfo.newPassword" name="password" required/>
            <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!</clr-control-error>
          </clr-password-container>
          <clr-password-container>
            <label>Confirm Password</label>
            <input placeholder="Confirm New Password" clrPassword [(ngModel)]="passwordInfo.confirmPassword" name="conf-password" required/>
            <clr-control-error *clrIfError="'required'" >This field is required!</clr-control-error>
          </clr-password-container>
          
          <button type="submit" class="btn btn-primary" (click)="reset()" routerLink="/login">Reset</button>
    </form>
</div>