.custom-bg{
    /* background:10% center no-repeat url('/assets/logo.svg'); */
    background: none;
    background-size: 40%;
    border: 1px solid black;
    width: 40%;
    margin: 0 auto;
    box-shadow: inset;
}
.login{
    /* background-color: rgb(204, 240, 252); */
    width: 100%;  

}